<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
@media only screen and (min-width: 768px) {
  #message {
    width: 70%;
    margin: 0 auto;
  }
}
</style>
    </head>
    <body style="font-family: sans-serif;">
        <h1 style="background-color: #c00; font-size: 90px; margin: 0 0 20px; padding: 40px 0; text-align: center;"><?= messageType.toUpperCase(); ?> </h1>
        <div id="message" style="font-size: 1.4em;">
            <p><?!= mainMessage ?></p>
            <p>The Wilbur ARG is meant to be exciting, bringing together people from all over the world to form an awesome community and for everyone to have fun.</p>
            <br>
            <p>Kind Regards,</p>
            <p>Wilbur ARG Document Moderators</p>
            <br>
            <p id="footer" style="color: #727272;">To appeal this decision, you can reply to this email or message any users with the role 'Document Editor' in the <a href="https://discord.gg/vhdk6yy">Wilbur ARG</a> discord server</p>
        </div>
    </body>
</html>